<%= render(HeaderComponent.new) %>

<div class="flex mt-16 space-x-2">
  <div class="w-1/2">
    <h1 class="text-2xl font-extrabold mb-4">Create a new short URL</h1>
    <%= render(ShortLinkFormComponent.new(link: @link)) %>
  </div>
  <div class="w-1/2">
    <p>TODO update the copy here</p>
  </div>
</div>
