<%= render(HeaderComponent.new(@current_user)) %>

<div class="mt-12">
  <h1 class="text-2xl font-extrabold">Link short code not found</h1>

  <div class="mt-4">
    <%= link_to 'Create new short link', new_links_path, class: "py-2 px-4 bg-gray-900 text-gray-100 rounded-lg hover:bg-gray-700" %> 
  </div>
</div>
